<div>

	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "AdUnits", :action => "index"} %>
	</div>
	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "Companies", :action => "index"} %>
	</div>
	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "Placements", :action => "index"} %>
	</div>
	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "Custom Targeting", :action => "index"} %>
	</div>
	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "Labels", :action => "index"} %>
	</div>
	<div class="tabbarButton">
		<%= link_to "AdUnits", {:controller => "Users", :action => "index"} %>
	</div>

	<br style="clear:both"/>
</div>
